@import "elements.less";

body {
	margin: 0;
	font-family: "Open Sans", "Inter", sans-serif;
}

header {
	width: 100%;
	height: 90vh;
	background-image: url('first_section_bg.jpeg');
	background-size: cover;
	background-position: center;
	position: relative;
	&:after {
		.dark-blur;
	}
	&:before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 10px;
		background-image: url('triangle.png');
		background-position: left bottom;
		background-size: auto 100%;
		background-repeat: no-repeat;
		z-index: 2;
	}
	.header-content {
		height: 70%;
		position: relative;
		z-index: 10;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: white;
		text-transform: uppercase;
		h1 {
			font-family: "Inter", sans-serif;
			font-weight: 400;
			font-size: 4.6vw;
			margin: 30px 0 15px;
		}
		h5 {
			font-size: 1vw;
		}
	}
}

#about {
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: 1fr 2fr;
	row-gap: 30px;
	column-gap: 8%;
	h2 {
		margin: 0;
		grid-column-start: 1;
		grid-column-end: 3;
	}
	.paddings(50px);
	.about-imgs {
		position: relative;
		img {
			object-fit: cover;
			&:first-of-type {
				width: 330px;
				height: 330px;
				filter: blur(2px) brightness(0.8);
				margin: 0 70px 70px 0;
			}
			&:last-of-type {
				position: absolute;
				top: 30px;
				left: 30px;
				width: 370px;
				height: 370px;
			}
		}
	}
	p {
		margin: 0;
		align-self: end;
		font-size: 1vw;
		line-height: 1.5vw;
		color: #555555;
	}
}

#best_position {
	.paddings(8vh);
	width: 100%;
	height: 70vh;
	background-image: url('section_bestpos_bg.jpeg');
	background-position: center top;
	background-size: 100%;
	position: relative;
	&:after {
		.dark-blur;
		background-color: rgba(0, 0, 0, 0.85);
		backdrop-filter: none;
	}
	h2 {
		color: white;
		position: relative;
		z-index: 10;
	}
	.all-cards {
		display: flex;
		justify-content: space-between;
		.card-pizza {
			width: 20%;
		}
	}
}

#form-reservation {
	.paddings(10vh);
	form {
		display: grid;
		grid-template-rows: repeat(3, 1fr);
		grid-template-columns: 1.5fr 1fr;
		gap: 30px;
		input {
			box-sizing: border-box;
			padding-left: 5%;
			height: 7vh;
			border: 1px solid #858585;
			font-size: 1.2vw;
			&.button {
				height: 4vh;
				font-size: 1vw;
				grid-column-start: 1;
				grid-column-end: 3;
				justify-self: center;
				align-self: end;
				background-color: @btn_color;
				border: none;
				color: white;
				padding: 1vh 40px;
				&:hover {
					background-color: @btn_color_hov;
					cursor: pointer;
				}
			}
			&:hover, &:focus {
				outline: 1px solid @btn_color;
			}
		}
	}
}
