nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	position: relative;
	z-index: 10;
	p {
		color: white;
		font-size: 2vw;
	}
	ul {
		width: 400px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 5%;
		list-style-type: none;
		padding: 0;
		li a {
			font-size: 0.7vw;
			text-decoration: none;
			text-transform: uppercase;
			color: white;
			&:hover {
				border-bottom: 1px solid white;
			}
		}
	}
}