.custom-btn a {
	border-radius: 2px 2px 0 0;
	position: relative;
	&:before, &:after {
		content: "";
		position: absolute;
		left: 0;
		width: 100%;
		bottom: -2px;
		height: 2px;
		background-color: white;
	}
	&:after {
		background-color: green;
		height: 4px;
		bottom: -6px;
	}
	&:hover {
		cursor: pointer;
	}
}