header:after, #best_position:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px); }

body {
  margin: 0;
  font-family: "Open Sans", "Inter", sans-serif;
  font-size: 16px; }
  body h1, body h2 {
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    font-size: 2.5vw; }

.button a {
  background-color: #EF0031;
  text-transform: uppercase;
  border-radius: 2px;
  padding: 14px 25px;
  width: auto;
  text-align: center;
  text-decoration: none;
  color: white; }
  .button a:hover {
    background-color: #bc0027;
    cursor: pointer; }

.custom-btn a {
  border-radius: 2px 2px 0 0;
  position: relative; }
  .custom-btn a:before, .custom-btn a:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -2px;
    height: 2px;
    background-color: white; }
  .custom-btn a:after {
    background-color: green;
    height: 4px;
    bottom: -6px; }
  .custom-btn a:hover {
    cursor: pointer; }

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  position: relative;
  z-index: 10; }
  nav p {
    color: white;
    font-size: 2vw; }
  nav ul {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    list-style-type: none;
    padding: 0; }
    nav ul li a {
      font-size: 0.7vw;
      text-decoration: none;
      text-transform: uppercase;
      color: white; }
      nav ul li a:hover {
        border-bottom: 1px solid white; }

.card-pizza {
  position: relative;
  z-index: 10;
  border: 1px solid #ADADAD;
  background-color: rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  padding: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white; }
  .card-pizza .imgs {
    width: 100%;
    position: relative; }
    .card-pizza .imgs img {
      width: 100%; }
    .card-pizza .imgs .promotion {
      position: absolute;
      margin: 0;
      top: 30%;
      left: 0;
      text-transform: uppercase;
      background-color: #EF0031;
      color: white;
      font-size: 0.8vw;
      letter-spacing: 1px;
      padding: 8px 15% 8px 10%; }
  .card-pizza h5 {
    font-weight: 400;
    margin: 20px 0 6px; }
  .card-pizza h4 {
    font-weight: 700;
    margin: 0 0 2vh;
    font-size: 1.4vw; }
  .card-pizza .button a {
    margin: 0;
    padding: 14px 25px; }

#form-reservation {
  padding: 110px 20%;
  box-sizing: border-box; }
  #form-reservation form {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1.5fr 1fr;
    gap: 30px; }
    #form-reservation form input {
      box-sizing: border-box;
      padding-left: 5%;
      height: 7vh;
      border: 1px solid #858585;
      font-size: 1.2vw; }
      #form-reservation form input.button {
        height: 4vh;
        font-size: 1vw;
        grid-column-start: 1;
        grid-column-end: 3;
        justify-self: center;
        align-self: end;
        background-color: #EF0031;
        border: none;
        color: white;
        padding: 1vh 40px; }
        #form-reservation form input.button:hover {
          background-color: #bc0027;
          cursor: pointer; }
      #form-reservation form input:hover, #form-reservation form input:focus {
        outline: 1px solid #EF0031; }

header {
  padding: 0 20%;
  box-sizing: border-box;
  width: 100%;
  height: 90vh;
  background-image: url("../img/first_section_bg.jpeg");
  background-size: cover;
  background-position: center;
  position: relative; }
  header:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-image: url("../img/triangle.png");
    background-position: left bottom;
    background-size: auto 100%;
    background-repeat: no-repeat;
    z-index: 2; }
  header .header-content {
    height: 70%;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: uppercase; }
    header .header-content h1 {
      font-size: 4.6vw;
      margin: 30px 0 15px; }
    header .header-content h5 {
      font-size: 1vw; }

#about {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 2fr;
  row-gap: 30px;
  column-gap: 8%;
  padding: 50px 20%;
  box-sizing: border-box; }
  #about h2 {
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 3; }
  #about .about-imgs {
    position: relative; }
    #about .about-imgs img {
      object-fit: cover; }
      #about .about-imgs img:first-of-type {
        width: 330px;
        height: 330px;
        filter: blur(2px) brightness(0.8);
        margin: 0 70px 70px 0; }
      #about .about-imgs img:last-of-type {
        position: absolute;
        top: 30px;
        left: 30px;
        width: 370px;
        height: 370px; }
  #about p {
    margin: 0;
    align-self: end;
    font-size: 1vw;
    line-height: 1.5vw;
    color: #555555; }

#best_position {
  padding: 8vh 20%;
  box-sizing: border-box;
  width: 100%;
  height: 70vh;
  background-image: url("../img/section_bestpos_bg.jpeg");
  background-position: center top;
  background-size: 100%;
  position: relative; }
  #best_position:after {
    background-color: rgba(0, 0, 0, 0.85);
    backdrop-filter: none; }
  #best_position h2 {
    color: white;
    position: relative;
    z-index: 10; }
  #best_position .all-cards {
    display: flex;
    justify-content: space-between; }
    #best_position .all-cards .card-pizza {
      width: 20%; }
